<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/phone.css" media="only screen and (max-width: 1200px)">
    <title>iEducate - Transforming Online Education</title>
</head>
<body>
    <nav class="navbar background h-nav-resp">
        <ul class="nav-list v-class-resp">
            <div class="logo"><img src="/static/img/laptop.jpg" alt="logo"></div>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#service">Services</a></li>
            <li><a href="#contact">Contact Us</a></li>
        </ul>
        <div class="rightNav v-class-resp">
            <input type="text" name="search" id="search">
            <button class="btn btn-sm">Search</button>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>

    <section class="background firstSection">
        <div class="box-main">
            <div class="firstHalf">
                <p class="text-big">The Future Of Education is Here</p>
                <p class="text-small">In this world of 7 billion people we need to educate all of them. This is the future of an educated world and we are proud to say that the Future Of Education is Here</p>
                <div class="buttons">
                    <button class="btn">Subscribe</button>
                    <button class="btn">Watch Video</button>
                </div>
            </div>
            <div class="secondHalf">
                <img src="/static/img/laptop2.jpg" alt="Laptop Image">
            </div>
        </div>
    </section>

    <section class="section">
        <div class="paras">
            <p class="sectionTag text-big">The end of your search is here</p>
            <p class="sectionSubTag text-small">Education in India is primarily managed by state-run public education system, which fall under the command of the government at three levels: central, state and local. Under various articles of the Indian Constitution and the Right of Children to Free and Compulsory Education Act, 2009, free and compulsory education is provided as a fundamental right to children aged 6 to 14. The approximate ratio of public schools to private schools in India is 7:5. </p>
            <p class="sectionSubTag text-small">At the primary and secondary level, India has a large private school system complementing the government run schools, with 29% of students receiving private education in the 6 to 14 age group.[15] Certain post-secondary technical schools are also private. The private education market in India had a revenue of US$450 million in 2008, but is projected to be a US$40 billion market.</p>
        </div>
        <div class="thumbnail">
            <img src="https://source.unsplash.com/1600x900/?laptop,mobiles,space" alt="Laptop Image" class="imgFluid">
        </div>
    </section>

    <section class="section Left">
        <div class="paras">
            <p class="sectionTag text-big">Transforming Education in india</p>
            <p class="sectionSubTag text-small">Up until 1976, education policies and implementation were determined legally by each of India's constitutional states. The 42nd amendment to the constitution in 1976 made education a 'concurrent subject'. From this point on the central and state governments shared formal responsibility for funding and administration of education. In a country as large as India, now with 28 states and eight union territories, this means that the potential for variations between states in the policies, plans, programs and initiatives for elementary education is vast. Periodically, national policy frameworks are created to guide states in their creation of state-level programs and policies. State governments and local government bodies manage the majority of primary and upper primary schools and the number of government-managed elementary schools is growing. Simultaneously the number and proportion managed by private bodies is growing.</p>
        </div>
        <div class="thumbnail">
            <img src="https://source.unsplash.com/1600x900/?html,laptop,mobiles" alt="Laptop Image" class="imgFluid">
        </div>
    </section>
    
    <section class="section">
        <div class="paras">
            <p class="sectionTag text-big">Lets Grow Together</p>
            <p class="sectionSubTag text-small">In the 2011 Census, about 73% of the population was literate, with 81% for males and 65% for females. National Statistical Commission surveyed literacy to be 77.7% in 2017–18, 84.7% for male and 70.3% for female.[8] This compares to 1981 when the respective rates were 41%, 53% and 29%. In 1951 the rates were 18%, 27% and 9%.[9] India's improved education system is often cited as one of the main contributors to its economic development.[10][11] Much of the progress, especially in higher education and scientific research, has been credited to various public institutions. While enrolment in higher education has increased steadily over the past decade, reaching a Gross Enrolment Ratio (GER) of 26.3% in 2019,[12] there still remains a significant distance to catch up with tertiary education enrolment levels of developed nations,[13] a challenge that will be necessary to overcome in order to continue to reap a demographic dividend from India's comparatively young population.</p>
        </div>
        <div class="thumbnail">
            <img src="https://source.unsplash.com/1600x900/?javascript,laptop,mobiles" alt="Laptop Image" class="imgFluid">
        </div>
    </section>

    <section id="contact">
        <h1 class="text-center">Contact Us</h1>
        <form class="form" action="/" method="post">
            <input class="form-input" type="text" name="name" id="name" placeholder="Enter Your Name">
            <input class="form-input" type="text" name="phone" id="phone" placeholder="Enter Your Phone">
            <input class="form-input" type="email" name="email" id="email" placeholder="Enter Your Email">
            <textarea class="form-input" name="text" id="text" cols="30" rows="7" placeholder="Ellaborate your concern"></textarea>
            <button class="btn btn-dark">Submit</button>
        </form>
    </section>

    <footer class="text-footer background">
           <p> Copyright &copy; 2022  www.iEducate.com - All rights reserved </p>
    </footer>
<script src="/static/resp2.js"></script>
</body>
</html>